DB_URL=jdbc:postgresql://postgres:5432/finpilot

DB_USERNAME=postgres

DB_PASSWORD=your_database_password

JWT_SECRET=your_very_long_secret_key

MARKETDATA_API_KEY=your_alpha_vantage_api_key

GOOGLE_CLIENT_ID=your_google_client_id

GOOGLE_CLIENT_SECRET=your_google_client_secret